WebApplication11/Service References/ServiceReference1/Service11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:2575/Service1.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:2575/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2575/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Service1_DoWork_InputMessage">
    <wsdl:part name="parameters" element="DoWork" />
  </wsdl:message>
  <wsdl:message name="Service1_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_saludo_InputMessage">
    <wsdl:part name="parameters" element="saludo" />
  </wsdl:message>
  <wsdl:message name="Service1_saludo_OutputMessage">
    <wsdl:part name="parameters" element="saludoResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_listarUsuarios_InputMessage">
    <wsdl:part name="parameters" element="listarUsuarios" />
  </wsdl:message>
  <wsdl:message name="Service1_listarUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="listarUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_buscarUsuario_InputMessage">
    <wsdl:part name="parameters" element="buscarUsuario" />
  </wsdl:message>
  <wsdl:message name="Service1_buscarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="buscarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_existeLogin_InputMessage">
    <wsdl:part name="parameters" element="existeLogin" />
  </wsdl:message>
  <wsdl:message name="Service1_existeLogin_OutputMessage">
    <wsdl:part name="parameters" element="existeLoginResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_actualizarUsuario_InputMessage">
    <wsdl:part name="parameters" element="actualizarUsuario" />
  </wsdl:message>
  <wsdl:message name="Service1_actualizarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="actualizarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_nuevoUsuario_InputMessage">
    <wsdl:part name="parameters" element="nuevoUsuario" />
  </wsdl:message>
  <wsdl:message name="Service1_nuevoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="nuevoUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_borrarUsuario_InputMessage">
    <wsdl:part name="parameters" element="borrarUsuario" />
  </wsdl:message>
  <wsdl:message name="Service1_borrarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="borrarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_enviarCorreo_InputMessage">
    <wsdl:part name="parameters" element="enviarCorreo" />
  </wsdl:message>
  <wsdl:message name="Service1_enviarCorreo_OutputMessage">
    <wsdl:part name="parameters" element="enviarCorreoResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_listarPeliculas_InputMessage">
    <wsdl:part name="parameters" element="listarPeliculas" />
  </wsdl:message>
  <wsdl:message name="Service1_listarPeliculas_OutputMessage">
    <wsdl:part name="parameters" element="listarPeliculasResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="urn:Service1/DoWork" message="Service1_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service1/DoWorkResponse" message="Service1_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saludo">
      <wsdl:input wsaw:Action="urn:Service1/saludo" message="Service1_saludo_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service1/saludoResponse" message="Service1_saludo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarUsuarios">
      <wsdl:input wsaw:Action="urn:Service1/listarUsuarios" message="Service1_listarUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service1/listarUsuariosResponse" message="Service1_listarUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="buscarUsuario">
      <wsdl:input wsaw:Action="urn:Service1/buscarUsuario" message="Service1_buscarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service1/buscarUsuarioResponse" message="Service1_buscarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="existeLogin">
      <wsdl:input wsaw:Action="urn:Service1/existeLogin" message="Service1_existeLogin_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service1/existeLoginResponse" message="Service1_existeLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="actualizarUsuario">
      <wsdl:input wsaw:Action="urn:Service1/actualizarUsuario" message="Service1_actualizarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service1/actualizarUsuarioResponse" message="Service1_actualizarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="nuevoUsuario">
      <wsdl:input wsaw:Action="urn:Service1/nuevoUsuario" message="Service1_nuevoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service1/nuevoUsuarioResponse" message="Service1_nuevoUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="borrarUsuario">
      <wsdl:input wsaw:Action="urn:Service1/borrarUsuario" message="Service1_borrarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service1/borrarUsuarioResponse" message="Service1_borrarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="enviarCorreo">
      <wsdl:input wsaw:Action="urn:Service1/enviarCorreo" message="Service1_enviarCorreo_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service1/enviarCorreoResponse" message="Service1_enviarCorreo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="listarPeliculas">
      <wsdl:input wsaw:Action="urn:Service1/listarPeliculas" message="Service1_listarPeliculas_InputMessage" />
      <wsdl:output wsaw:Action="urn:Service1/listarPeliculasResponse" message="Service1_listarPeliculas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>